<div class="jumbotron text-center">
    <a ui-sref="newPoll">newPoll</a>
    <a ui-sref="myPolls">myPolls</a>
    <h1>fcc-voting</h1>
    <p ng-show="showMyPollsOnly">Below are polls you own.</p>
    <p ng-hide="showMyPollsOnly">Below are polls hosted by fcc-voting.</p>
    <p>Select a poll to see the results and vote<span ng-hide="userId">, or sign-in to make a new poll.</span><a href="/newpoll" ng-show="userId" >, or make a new poll!</a></p>
    <ul class="list-group">
        <a class="list-group-item" ng-href="/polls/{{poll._id}}" ng-repeat="poll in polls | filter: (showMyPollsOnly) && {owner:userId} || ''">{{poll.title}}</a>
    </ul>
</div>    

